.container {
    padding-right: 10px;
}

.container img {
    width: 170px;
}

.container h4 {
    font-size: .9rem;
    margin: 0;
    padding-top: 10px;
}

.container p {
    font-size: .85rem;
    color: #666666;
    padding-top: 8px;
}

.container span {
    color: #BB251A;
}

@media (min-width: 768px) {
    .container img {
        width: 210px;
    }

    .container h4 {
        font-size: 1.02rem;
        font-family: 'DMSans-Bold';
    }
}

@media (min-width: 1024px) {
    .container img {
        width: 153px;
    }
}

@media (min-width: 1300px) {
    .container {
        padding-right: 15px;
    }

    .container img {
        width: 210px;
    }
}