.container {
    overflow: auto;
    padding: 10px 0px 30px 30px;
}

.container h3 {
    font-family: 'DMSans-Bold';
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.container ul {
    display: flex;
    padding: 0;
}

@media (min-width: 1300px) {
    .container {
        padding: 50px 0px 30px 30px;
    }

    .container h3 {
        font-size: 1.6rem;
        padding-bottom: 40px;
    }
}